body {
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    font-family: Helvetica, Arial, sans-serif;
}

/* header */

.header_top {
    background-color: black;
    min-height: 30px ;
}

.header_top img {
    width: 70px;
}

.header_bottom {
    background-color: white;
    min-height: 70px;
}

/* jumbotron */

.jumbotron {
    color: white;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;
    padding: 150px 0 ;
}

.jumbotron img {
    width: 50%;
}

.jumbotron h3 {
    margin: 20px 0;
}

#button-aquista-ora {
    background-color: #cd3d0f;
}

button {
    background-color: #1a739d;
    color: white;
    padding: 7px 14px;
    border-radius: 20px;
    border: none;
}

/* fake carosel */

.fake-carosel-giochi{
    margin-top: 30px;
    margin-bottom: 100px;
}

.giochi {
    max-width: 100%;
    padding: 5px;
}

#gioco-1 {
    border: 1px solid blue;
    border-radius: 10px;
}

.giochi img {
    max-width: 100%;
    border-radius: 10px;
}

/* console-play-5 */

.console-play-5 {
    margin: 20px 0 30px 0;
}

.console-play-5 img {
    max-width: 100%;
}

/* elenco dispositivi */

.dispositivi img {
    max-width: 70%;
}

#elemento-selezionato {
    border-bottom: 1px solid cornflowerblue;
}

/* takes two */

.takes-two {
    color: white;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;
    padding: 50px 0 ;
    margin: 30px 0 0 0;
}

.takes-two img {
    width: 50%;
}

.takes-two h3 {
    margin: 20px 0;
}

/* nuove uscite */

.nuove-uscite .container-fluid {
    padding: 20px 0 30px 0;
    background-color: #1f1f1f;
    color: white;
}

.nuove-uscite img {
    max-width: 100%;
    border-radius: 20px;
    margin: 20px 0 20px 0;
}

/* esplora play statio 4 */

.esplora-play-4 img {
    max-width: 100%;
}

.tit_play_4 {
    margin: 30px 0 30px 0;
}

/* play station plus */

.play-station-plus {
    color: white;
    background-color: #bebcbb;
    min-height: 300px;  
    margin: 30px 0;
}

.container-ps-plus {
    padding: 80px 0 0 0;
}


.container-ps-plus img {
    max-width: 50% ;
    margin: 20px 0;
}

.giochi-plus img {
    max-width: 100%;
    max-height: 100%;
}

/* sconti */

.nuovi-sconti img {
    max-width: 100%;
    margin: 10px;
}

/* sezione playstation now */

.playstation-now {
    background-color: #161c3b;
}
