/* [class*="col-"] {
    min-height: 50px;
    /* background-color: turquoise; */
    /* border: azure 1px solid;
} */ 

/* [class*="col"] {
    min-height: 50px;
    border: azure 1px solid;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    font-family: Helvetica, Arial, sans-serif;
}

/* header */

.header_top {
    background-color: black;
    min-height: 30px ;
}

.header_top img {
    width: 70px;
}

.header_bottom {
    background-color: white;
    min-height: 70px;
}

/* jumbotron */

.jumbotron {
    color: white;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;
    padding: 150px 0 ;
}

.jumbotron img {
    width: 50%;
}

.jumbotron h3 {
    margin: 20px 0;
}

button {
    background-color: #cd3d0f;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}

/* fake carosel */

.fake-carosel-giochi{
    margin-top: 30px;
    margin-bottom: 100px;
}

.giochi {
    max-width: 100%;
    padding: 5px;
}

#gioco-1 {
    border: 1px solid blue;
    border-radius: 10px;
}

.giochi img {
    max-width: 100%;
    border-radius: 10px;
}



